
.pai{
    display: flex;
    flex-direction: column;
    text-align: center;

}

h1{
    color:rgb(9, 9, 97);
    font-size: 40px;

}

h2{
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    color:black
}

.botao-pai{

    display: flex;
    justify-content: center;
}
#iniciar{
     
    margin-top: 50px;
    font-size: 65px;
    color:rgb(242, 239, 239);
    background-color:rgb(2, 89, 2);
    border-radius: 20px;


}

body{
    background-image:url(WhatsApp\ Image\ 2026-06-22\ at\ 16.45.15.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}