
.pai{
    display: flex;
    flex-direction: column;
    text-align: center;

}

h1{
    color:rgb(9, 9, 97);
    font-size: 40px;

}

h2{
    color:black
}

.botao-pai{

    display: flex;
    justify-content: center;
}
#iniciar{

    font-size: 40px;
    color:rgb(242, 239, 239);
    background-color:rgb(2, 89, 2);


}

body{
    background-image:url(../../../../Imagens/panterinha/WhatsAppImage2026-06-22at10.36.39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}